{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <div style="margin-bottom: 15px" class="clearfix">
            <a class="btn btn-primary" style="margin-top: 10px" href="/nurse/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建医护人员
            </a>
            <div style="float: right;width: 350px;">
                <form method="get">
                    <div class="input-group" style="margin-top: 10px">
                        <input type="text" name="q" style="margin-left: 50px" class="form-control" placeholder="关键字"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                      </span>
                    </div>
                </form>
            </div>
        </div>
            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>电话号码</th>
                    <th>负责区域</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.get_gender_display }}</td>
                        <td>{{ obj.phone_number }}</td>
                        <td>{{ obj.get_building_display}}{{obj.get_floor_display}}{{obj.get_household_display}}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/nurse/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/nurse/{{ obj.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>


{% endblock %}